[submodule "vendor/polkavm"]
	path = vendor/polkavm
	url = https://github.com/acalanetwork/polkavm
[submodule "vendor/polkadot-sdk"]
	path = vendor/polkadot-sdk
	url = https://github.com/indirection42/polkadot-sdk
    branch = pvq-with-xcm-poc

